<div class="container">
  <h1>Login!</h1>

  <% if @errors %>
    <% @errors.each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

  <p>
    <form id="login" action="/users/login" method="post">

      <label for "email"> Email: </label>
      <input type="text" name="user[email]"><br>

      <label for "password"> Password: </label>
      <input type="password" name="user[password]"><br>

      <input type="submit" value="Login">
    </form>
  </p>
<br>
<br>
<p>
  Not registered with us yet?<br>
  <form action="/users/new" method="get">
    <input type="submit" value="Sign Up Here">
  </form>
</p>
</div>
