<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<div id="wrapper">
  <ul class="nav nav-pills">
    <% if logged_in? %>
      <form method="GET" action="/users/logout">
      <input type="submit" value="Logout">
      </form>
   <% else %>
      <form method = "POST" action = "/users/new">
        <input type = "submit" value = "Sign-Up">
      </form>
       <form method = "POST" action = "/users/login">
        <input class="active" type="submit" value="Login">
      </form>
    <% end %>


    <li class="active"><a href="/posts">Question</a></li>
    <li class="active"><a href="">Jobs</a></li>
    <li class="active"><a href="/posts">Tag</a></li>
    <li class="active"><a href="/users/:id">User</a></li>
    <li class="active"><a href="">Badges</a></li>
    <li class="active"><a href="/posts/new">Ask Question</a></li>
  </ul>
  <%= yield %>
</div>
</body>
</html>
